absl-py                     
astunparse                    
blinker                       
cachetools                    
certifi                    
cffi                         
charset-normalizer       
click                    
colorama                 
cors                    
Cython                  
filelock                 
Flask                    
Flask-Cors             
flatbuffers              
future                
gast                   
gevent                 
google-api-core         
google-api-python-client 
google-auth            
google-auth-httplib2  
google-auth-oauthlib    
google-pasta             
googleapis-common-protos
joblib               
keras                
numpy                
oauthlib               
pandas
pip          
pmdarima             
requests                
requests-file           
requests-oauthlib        
scikit-learn
scipy
tensorflow
validate-email-address       